<h3>Now editing your {{list.name}} list. Last updated on {{list.updated_at}}</h3>
<div class="container-fluid" data-id="{{list.id}}">
  <div>
    <p data-note="edit-group">
      Current list name: <span data-id="group-name">{{list.name}}</span>.
    </p>
    <input data-base="{{list.name}}" data-note="edit-group" class="hidden" type="text" name="list[name]" value="{{list.name}}">
    <a href="#" data-note="edit-group">
      Change
    </a>
  </div>
  <table class="table table-responsive table-hover" data-list="{{list.id}}">
    <caption>
      List {{list.name}} Active   <input type="checkbox" {{#if list.active}}checked{{/if}} data-list="{{list.id}}">
    </caption>
    <thead>
      <tr>
        <th>
          Item Name
        </th>
        <th>
          Needed
        </th>
        <th>
          Package
        </th>
        <th>
          Purchased?
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {{#each list.list_items as |listItem|}}
      <tr data-listitem="{{listItem.id}}" data-mode="show">
        <td>
          {{listItem.item.name}}
        </td>
        <td>
          <p data-note="edit-li">{{listItem.quantity}}</p>
          <input data-listitem="{{listItem.id}}" data-note="edit-li" class="hidden" type="number" name="list_item[quantity]" value="{{listItem.quantity}}">
        </td>
        <td>
          {{listItem.item.unit_quantity}} {{listItem.item.unit}}
        </td>
        <td>
          <input type="checkbox" {{#if listItem.purchased}}checked{{/if}} data-listitem="{{listItem.id}}">
        </td>
        <td>
          <button data-note="edit-li" data-listitem="{{listItem.id}}" data-item="{{listItem.item.id}}" class="btn-sm btn-warning">Edit</button>
        </td>
        <td>
          <button data-note="edit-li" data-listitem="{{listItem.id}}" class="btn-sm btn-danger">&times;
          </button>
        </td>
      </tr>
    {{/each}}
  </table>
  <p>
    <button data-add-search class="btn-xs btn-primary">
      <i class="glyphicon glyphicon-search">
      </i>
    </button>
    Add an item by searching or
    <button data-add-new title="Search for an Item" class="btn-xs btn-success">&#43;
    </button>
    Add by a new item
  </p>
  {{#if list.list_items}}
    {{#if list.complete}}
      {{#if list.active}}
        <p>This list is complete, would you like to delete it or save it as inactive?</p>
        <button data-delete-list class="btn btn-danger" data-list="{{list.id}}">Delete</button><button data-save-list class="btn btn-info" data-list="{{list.id}}">Save</button>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
