<table class="table table-hover table-responsive">
  {{#each lists as |list|}}
  <table class="table table-responsive table-hover">
    <caption>List {{list.id}}
    <tr>
      <th>Item Name</th>
      <th>Needed</th>
      <th>Package</th>
    </tr>
      {{#each list.list_items as |listItem|}}
      <tr>
        <td>{{listItem.item.name}}</td>
        <td>{{listItem.quantity}}</td>
        <td>{{listItem.item.unit_quantity}} {{listItem.item.unit}}</td>
      </tr>
      {{/each}}
  </table>
{{/each}}
