
  {{#each lists as |list|}}
  <div class="container-fluid {{#if list.active}}{{else}}hidden{{/if}}">
  <table class="table table-responsive table-hover">
    <caption>List {{list.id}}
    <tr>
      <th>Item Name</th>
      <th>Needed</th>
      <th>Package</th>
      <th>Purchased?</th>
    </tr>
      {{#each list.list_items as |listItem|}}
      <tr>
        <td>{{listItem.item.name}}</td>
        <td>{{listItem.quantity}}</td>
        <td>{{listItem.item.unit_quantity}} {{listItem.item.unit}}</td>
        <td>{{#if listitem.purchased}}<input type="checkbox" checked>{{else}}<input type="checkbox">{{/if}}</td>
      </tr>
      {{/each}}
  </table>
{{/each}}
